// @import "../global";

// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Bootstrap Overrides
// // @import '_tachyons.variables.css';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

// // // Tachyons
// // @import '~tachyons/tachyons.css';

// // Pages
// @import 'pages/dashboard';

// =============================================================================

@import "../global";

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// Fix inaccessible dropdown in .table-responsive dropdown buttons
.table-responsive {
    overflow-x: inherit;
    td:not(.btn-td) {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 200px;
    }
}

// Fix dropdown border
.dropdown-item {
    position:relative;
    padding:10px 20px;
    border-bottom:0;
}

.accent-primary {
    border-left: 4px solid #0074d9;
    padding-left: 2px;
}

// Fix mobile footer
.app-footer {
    flex: 0 0;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}