:root {
    --sans-serif: 'Segoe UI', sans-serif;
    --serif: palatino, serif;
    --monospace: "Menlo", monospace;
    
    --font-size-headline: 6rem;
    --font-size-subheadline: 5rem;
    --font-size-1: 3rem;
    --font-size-2: 2.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1rem;
    --font-size-6: 0.875rem;
    --font-size-7: 0.75rem;
    
    --measure: 30em;
    --measure-narrow: 20em;
    --measure-wide: 34em;
    
    --letter-spacing-tight:-.05em;
    --letter-spacing-1:.1em;
    --letter-spacing-2:.25em;
    
    --line-height-solid: 1;
    --line-height-title: 1.25;
    --line-height-copy: 1.5;
    
    --spacing-extra-small: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extra-large: 4rem;
    --spacing-extra-extra-large: 8rem;
    --spacing-extra-extra-extra-large: 16rem;
    
    --border-radius-1: 0.125rem;
    --border-radius-2: 0.25rem;
    --border-radius-3: 0.5rem;
    --border-radius-4: 1rem;
    --border-radius-circle: 100%;
    --border-radius-pill: 9999px;
    
    --box-shadow-1: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 );
    --box-shadow-2: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 );
    --box-shadow-3: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2 );
    --box-shadow-4: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
    --box-shadow-5: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
    
    --height-1: 1rem;
    --height-2: 2rem;
    --height-3: 4rem;
    --height-4: 8rem;
    --height-5: 16rem;
    --width-1: 1rem;
    --width-2: 2rem;
    --width-3: 4rem;
    --width-4: 8rem;
    --width-5: 16rem;
    
    --max-width-1: 1rem;
    --max-width-2: 2rem;
    --max-width-3: 4rem;
    --max-width-4: 8rem;
    --max-width-5: 16rem;
    --max-width-6: 32rem;
    --max-width-7: 48rem;
    --max-width-8: 64rem;
    --max-width-9: 96rem;
    
    --red-000: #3e0000;
    --red-100: #610000;
    --red-200: #870000;
    --red-300: #b00000;
    --red-400: #da0000;
    --red-500: #ff2222;
    --red-600: #ff6969;
    --red-700: #ff9595;
    --red-800: #ffbaba;
    --red-900: #ffdddd;
    --gold-000: #211900;
    --gold-100: #392b00;
    --gold-200: #523e00;
    --gold-300: #6c5200;
    --gold-400: #886700;
    --gold-500: #a57c00;
    --gold-600: #c39300;
    --gold-700: #e1aa00;
    --gold-800: #ffc209;
    --gold-900: #ffe38f;
    --green-000: #061f04;
    --green-100: #0a3407;
    --green-200: #0f4b0a;
    --green-300: #14640d;
    --green-400: #197d11;
    --green-500: #1e9714;
    --green-600: #23b218;
    --green-700: #29ce1c;
    --green-800: #2feb20;
    --green-900: #acf7a6;
    --teal-000: #041d1f;
    --teal-100: #063234;
    --teal-200: #09484b;
    --teal-300: #0c5f64;
    --teal-400: #10777d;
    --teal-500: #139197;
    --teal-600: #16abb3;
    --teal-700: #1ac5cf;
    --teal-800: #1de1eb;
    --teal-900: #9af4f9;
    --blue-000: #0f1a2c;
    --blue-100: #1a2c4c;
    --blue-200: #26406e;
    --blue-300: #335592;
    --blue-400: #3f6ab7;
    --blue-500: #5a82cb;
    --blue-600: #7a9bd5;
    --blue-700: #9bb4df;
    --blue-800: #bcccea;
    --blue-900: #dde6f4;
    --indigo-000: #190c4e;
    --indigo-100: #291381;
    --indigo-200: #3b1cb8;
    --indigo-300: #512de3;
    --indigo-400: #6e50e8;
    --indigo-500: #876eec;
    --indigo-600: #9f8cf0;
    --indigo-700: #b7a8f4;
    --indigo-800: #cfc5f7;
    --indigo-900: #e7e2fb;
    --violet-000: #320335;
    --violet-100: #520556;
    --violet-200: #730879;
    --violet-300: #960a9e;
    --violet-400: #bb0cc4;
    --violet-500: #e10fed;
    --violet-600: #f550fe;
    --violet-700: #f988ff;
    --violet-800: #fbb3ff;
    --violet-900: #fddaff;
    --gray-000: #1a1a1a;
    --gray-100: #2c2c2c;
    --gray-200: #404040;
    --gray-300: #565656;
    --gray-400: #6c6c6c;
    --gray-500: #828282;
    --gray-600: #9a9a9a;
    --gray-700: #b2b2b2;
    --gray-800: #cbcbcb;
    --gray-900: #e5e5e5;
    }